@model OnlineShop.Areas.Admin.Model.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/Admin/Views/Shared/_LoginAndRegistration.cshtml";
}

<div class="card shadow rounded-0 overflow-hidden">
    <div class="row g-0">
        <div class="col-lg-6 d-flex align-items-center justify-content-center border-end">
            <img src="~/assets/admin/images/error/forgot-password-frent-img.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6">
            <div class="card-body p-4 p-sm-5">
                <h5 class="card-title">Tạo mật khẩu mới</h5>
                <p class="card-text mb-4">Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu của bạn. Vui lòng nhập mật khẩu mới của bạn!</p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="text-success mb-4">*@ViewBag.Message</div>
                    }

                    <div class="row g-3">

                        <div class="col-12">
                            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "form-label" })
                            <div class="ms-auto position-relative">
                                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control radius-30 ps-5" })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger invalid-feedback d-block" })
                            </div>
                        </div>

                        <div class="col-12">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-label" })
                            <div class="ms-auto position-relative">
                                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control radius-30 ps-5" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger invalid-feedback d-block" })
                            </div>
                        </div>
                        <div class="col-12">
                            @Html.HiddenFor(model => model.ResetCode)
                        </div>
                        <div class="col-12">
                            <div class="d-grid gap-3">
                                <button type="submit" class="btn btn-primary radius-30">Thay đổi mật khẩu</button>
                                @Html.ActionLink("Quay lại đăng nhập", "Login", "Account", "", new { @class = "btn btn-light radius-30" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

